

/*COLOR*/
.header-nav .menu > li > a.active:before,
.topbar-info,
.footer-nav ul li a:hover,
.location ul li a i,
.heare-catagory ul li a:hover, 
.author-title ul li a.comment-date,
.header-menu .active,
.categories li a:hover,
.blog-post ul.post-date li a,
.blog-post-single-item span,
.read-more:hover,
.blog-post-single-item ul li a i,
.working-day:hover .time,
.input-group-addon i,
.offer-area ul li a i,
.style-contact-info ul li a i,
.andrew-domnik-style-icon a,
.top-deals-separator i,
.like-share-icon i,
.style-single-item:hover h5,
.authore-icon i,
.progress-icon i,
.about-us-icon i,
.footer-style3 .social-icon-circle a,
.social-icon-circle a,
.working-hour .active,
.follow-us ul li a:hover,	
.social-icons i,
.owl-theme.owl-carousel .owl-nav > div,
.header-nav .menu > ul li ul li a:hover,
.header-nav .menu > li > a:hover,
.cssmenu ul ul li:hover a,
.color-text{
	color: #c08a5e;
}


.blog-post-single-item .post-date li a,
.order-review .table .price,
.order-review .table th,
.author-desc .author-title a,
label,
.ug-slider-control.ug-arrow-left::before,
.ug-slider-control.ug-arrow-right::after,
.total-cart ul li,
.total-cart-price ul li,
.coupon-code label,
.table > thead > tr > th,
.location ul li a,
.author-info ul li a,
.blog-style2 .blog-post ul.post-date li a,
.blog-post h5 a,
.widget p,
.blog-post ul.post-date li a span,
.style-slide.owl-theme.owl-carousel .owl-nav > div,
.read-more,
.title p,
.item-name,
.contact-info-inner a,
.style-contact-info ul li a,
.shoping-hover span,
.panel > a.collapsed::after,
.panel > a:after,
.style-contact-info ul li a,
.top-deals ul li,
.progress-work,
h2, h3, h4, h5, a{
	color: #333333;
}


.protfolio-content,
.related-protfolio-slides.owl-theme.owl-carousel .owl-nav > div,
.discount-offer-inner,
.discount-offer h5,
.our-work-details-icon i,
.work > h3,
.tab-content-inner,
.our-work-details-outer,
.blog-post-pagination .pagination li a.active,
.film a,
.graph a,
.ug-slider-control.ug-arrow-left:hover:before,
.ug-slider-control.ug-arrow-right:hover:after,
.footer-nav ul li a,
.related-protfolio-single-icon a,
.protfolio-content h4,
.protfolio-details-icon a,
.coupon-code .apply-coupon,
.cart-form .shoping:hover,
.contact-information .contact-icon:hover i,
.huge-collection-content h3, 
.client-say-qutue-list.owl-theme.owl-carousel .owl-nav > div:hover,
.play:before,
.graph:after,
.header-menu li a,
.heading-text,
.blog-post-pagination .pagination li a:hover,
.search,
.tagcloud a:hover,
.blog-search i,
.client-say-area-style2 .owl-theme.owl-carousel .owl-nav > div,
.client-say-area .owl-theme.owl-carousel .owl-nav > div:hover,
.client-say-area-style2 h4,
.tab-content h4,
.work > h3,
.work-icon i,
.book-now h4,
.work-experience:hover .about-us-icon i,
.offer-single-slide-item:hover h4,
.working-day .time,
.overlay  h2,
.overlay  p,
.queries-call h3,
.sold:before,
.new:after,
.pane2 a::after,
.andrew-domnik-style-icon a:hover,
.our-work-details h4 a,
.overlay .our-work-details h4,
.dark-bg li,
.dark-bg h2,
.like-share-icon i:hover,
.client-say,
.about-us-details ul li:hover .about-us-icon i,
.social-icons a:hover,
.social-icon-circle a:hover,
.follow-us span,
.dark-bg h4,
.header-search i,
.header-slider.header-slider-style2.owl-theme.owl-carousel .owl-nav > div:hover,
.cart::after,
.dark-bg p,
.dark-bg .header-nav .menu > li > a{
	color: #fff;
}
/*Background-Color*/
.author-info,
.appoinment-right,
.huge-collection-content span::after,
.huge-collection-content span::before,
.blog-post-qotue,
.working-day:hover,
.appoinment-area-style2 .input-group-addon,
.appoinment-area-style2 .form-control,
.style-image-holder,
.main-menu-style2 .cssmenu .submenu-button::after,
.main-menu-style2 .cssmenu .submenu-button::before,
.main-menu-style2 .cssmenu .menu-button::after,
.header-slider.owl-theme.owl-carousel .owl-nav > div:hover,
.dark-bg .cssmenu .submenu-button::before,
.dark-bg .cssmenu .submenu-button::after,
.dark-bg .cssmenu .menu-button::after{
	background-color: #fff;
}

.header-nav .menu > li > a.active::after,
.blog-post-pagination .pagination li a.active,
.graph,
.film,
.ug-slider-control.ug-arrow-left:hover::before,
.ug-slider-control.ug-arrow-right:hover::after,
.related-protfolio-slides.owl-theme.owl-carousel .owl-nav > div:hover,
.related-protfolio-single-icon a, 
.protfolio-details-icon a,
.coupon-code .apply-coupon, 
.cart-form .shoping:hover,
.contact-information .contact-icon:hover,
.client-say-qutue-list.owl-theme.owl-carousel .owl-nav > div:hover,
.graph:after,
.play:before,
.blog-post-pagination .pagination li a:hover,
.tagcloud a:hover,
.blog-search .form-control.submit,
.client-say-area .owl-theme.owl-carousel .owl-nav > div:hover,
.work,
.work-experience:hover .about-us-icon i,
.new:after,
.pane2 a::after,
.client-say-item2:before,
.ahthore-name:after,
.andrew-domnik-style-icon a:hover,
.our-work-list,
.our-work-details-icon i,
.like-share-icon i:hover,
.about-us-details ul li:hover .about-us-icon i,
.social-icon-circle a:hover,
.newsletter .submit-button,	
.header-search i,
.cart::after,
.header-slider.header-slider-style2.owl-theme.owl-carousel .owl-nav > div:hover{
	background-color: #c08a5e;
}
.bg-light-alt{
	background-color: #f7f7f7;
}
.dark-bg{
	background-color: #3f464e;
}


/*Border-Color*/
.blog-style3 .blog-post-content .border-right-post-date::after,
.ug-slider-control.ug-arrow-right:hover::after,
.ug-slider-control.ug-arrow-left:hover::before,
.cart-form .shoping,
.hair-dryer-tab-list li a:hover,
.client-say-qutue-list.owl-theme.owl-carousel .owl-nav > div:hover,
.blog-post ul.post-date li a.border-right,
.client-say-area .owl-theme.owl-carousel .owl-nav > div:hover,
.plans-item ul li a:hover,
.service-icon:hover,
.about-us-icon,
.social-icon-circle a:hover,
.header-slider.header-slider-style2.owl-theme.owl-carousel .owl-nav > div:hover,	
.owl-theme.owl-carousel .owl-nav > div
{
	border-color: #c08a5e;
}
.working-day,
.about-us-icon i,
.main-menu-style2 .cssmenu .menu-button::before,
.header-slider.owl-theme.owl-carousel .owl-nav > div:hover,
.dark-bg .cssmenu .menu-button::before{
	border-color: #fff
}